<app-header></app-header>
<div class="container">
    <h2>Actualizar de Propietarios</h2>
    <form class="row g-3">
        <div class="col-md-4">
            <label class="col-form-label">Identificación</label>
            <input type="number" class="form-control" name="id" [(ngModel)]= "propietario.id" disabled="true">
        </div>
        <div class="col-md-4">
            <label for="tipo_id" class="col-form-label">Tipo de Identificación</label>
            <select [compareWith]= "compararTipoId" [(ngModel)]= "propietario.tipo_id" class="form-control" name="tipo_id" disabled="true">
                <option [ngValue]= "undefined">---Seleccionar---</option>
                <option *ngFor= "let tipo_id of tipos_id" [ngValue]= "tipo_id">{{tipo_id.nombre}}</option>
            </select>
        </div>
        <div class="col-md-4">
            <label for="tipo_persona" class="col-form-label ">Tipo de Persona</label>
            <select [compareWith]= "compararTipoPersonas" [(ngModel)]= "propietario.tipo_persona" class="form-control" name="tipo_persona">
                <option [ngValue]= "undefined">---Seleccionar---</option>
                <option *ngFor= "let tipo_persona of tipos_persona" [ngValue]= "tipo_persona">{{tipo_persona.nombre}}</option>
            </select>
        </div>
        <div class="col-md-6">
            <label class="form-label">Nombre</label>
            <input type="text" class="form-control" name="nombre" [(ngModel)]= "propietario.nombre">
        </div>
        <div class="col-md-6">
            <label class="form-label">Apellido</label>
            <input type="text" class="form-control" name="apellido" [(ngModel)]= "propietario.apellido">
        </div>
        <div class="col-md-6">
            <label class="form-label">Dirección</label>
            <input type="text" class="form-control" name="direccion" [(ngModel)]= "propietario.direccion">
        </div>
        <div class="col-md-6">
            <label class="form-label">Email</label>
            <input type="email" class="form-control" name="email" [(ngModel)]= "propietario.email" placeholder="example@correo.com">
        </div>
        <div class="col-md-3">
            <label class="form-label">Fecha de Registro</label>
            <input type="datetime-local" class="form-control" name="fecha_registro" [(ngModel)]= "propietario.fecha_registro" disabled="true">
        </div>
        <div class="col-md-3">
            <label class="form-label">Estado</label>
            <input type="number" class="form-control" name="estado" [(ngModel)]= "propietario.estado">
        </div>
        <!--<button type="submit" class="btn btn-success mt-2" (click)="crearPropietario()"  *ngIf="!propietario.id">Registrar</button>-->
        <button type="submit" class="btn btn-success mt-2" (click)="actualizarPropietario()"  *ngIf="propietario.id">Registrar</button>
    </form>
</div>

